* {
    margin: 0px auto;
}

.title {
    width: 200px;
    text-align: center;
}

.product {
    margin-bottom: 50px;
    width: 425px;
}

.product-detail {
    margin-bottom: 50px;
    width: 600px;
}

.product:hover{
    background-color: yellow;
    font-weight: bold;
}

.description {
    width: 175px;
}

.price-cart, .checkout {
    text-align: center;
}

.add-cart-button, .checkout-button {
    background-color: yellow;
}

.cart {
    margin-bottom: 50px;
    width: 300px;
    padding: 3px;
    text-align: center;
}


/* images */
.logo {
    width: 400px;
}

.product-img {
    width: 400px;
    border: 1px solid black;
    margin: 8px;
}

.product-detail-img {
    width: 600px;
    border: 1px solid black;
    margin: 8px;
}

.shopping-cart-img {
    width: 200px;
}
